body {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    display: flex;
    margin: 0;
	padding: 0;
    text-align: center;
    color: white;
    background-color: black;
}

.ToDoTable {
    width: 100%;
}

th {
    border: none;
    border-radius: 5%;
    height: 5em;
    width: 20em;
    background-color: #212121;
}

.time {
    border: none;
    border-radius: 5%;
    height: 5em;
    width: 20em;
    background-color: #555555;
}

.days {
    border: none;
    border-radius: 5%;
    height: 5em;
    width: 20em;
    background-color: #555555;
}

.to-do-elements {
    border: none;
    border-radius: 5%;
    height: 5em;
    width: 20em;
    background-color: #a51c1c;
}

.college, .dogs, .medicine {
    overflow: hidden;
    position: relative;
}

/* Define COMMON style for (.college|.dogs|.medicine) > .child */
.college .child, .dogs .child, .medicine .child {
    /* Background properties are the same for all */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* Give .child 100%/100% to fill the parent */
    width: 100%;
    height: 100%;
    /* Give flex, so nested <p> could be centered with: */
    display: flex;
    flex-direction: row;
    /* ... centered by vertical axis */
    align-items: center;
    /* ... centered by horizontal axis */
    justify-content: center;
}

/* Just set specific background for .college */
.college .child {
    background-image: url('images/seamless-background-from-a-set-of-digital-devices-vector-13831214.jpg');
}

/* Just set specific background for .dogs */
.dogs .child {
    background-image: url('images/seamless-pattern-with-paw-print-and-bones-on-brown-background-animal-print-vector-illustration_648830-158.avif')
}

/* Just set specific background for .medicine */
.medicine .child {
    background-image: url('images/medical-pills-and-capsules-pharmacy-background_77417-1449.avif');
}

/* "Fade" effect */
.child::before {
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(52, 73, 94, 0.75);
}

/* Needed for "fade" effect */
.college:hover .child:before,
.college:focus .child:before,
.dogs:hover .child:before,
.dogs:focus .child:before,
.medicine:hover .child:before,
.medicine:focus .child:before {
    display: block;
}

/* !!! Try to comment this and check how zoom behave like !!! */
.college .child, .dogs .child, .medicine .child {
    transition: transform .5s;
    transform: scale(1.0);
}
/* !!! !!! */

/* Transform needed for "zoom" effect with :hover modifier */
.college .child:hover, .dogs .child:hover, .medicine .child:hover {
    transform: scale(1.2);
}
