body {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    display: flex;
    margin: 0;
	padding: 0;
    text-align: center;
    color: white;
    background-color: black;
}

.ToDoTable {
    width: 100%;
}

th {
    border: none;
    border-radius: 5%;
    height: 5em;
    width: 20em;
    background-color: #212121;
}

.time {
    border: none;
    border-radius: 5%;
    height: 5em;
    width: 20em;
    background-color: #555555;
}

.days {
    border: none;
    border-radius: 5%;
    height: 5em;
    width: 20em;
    background-color: #555555;
}

.to-do-elements {
    border: none;
    border-radius: 5%;
    height: 5em;
    width: 20em;
    background-color: #a51c1c;
}

.to-do-elements:hover {
    transform: scale(1.2);
    background-image: linear-gradient(to right, #ffb300 , #a51c1c);
}

.college {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('images/seamless-background-from-a-set-of-digital-devices-vector-13831214.jpg');
}

.dogs {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('images/seamless-pattern-with-paw-print-and-bones-on-brown-background-animal-print-vector-illustration_648830-158.avif')
}

.medicine {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('images/medical-pills-and-capsules-pharmacy-background_77417-1449.avif');
}

.college:hover {
    transform: scale(1.2);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('images/seamless-background-from-a-set-of-digital-devices-vector-13831214.jpg');
}

.dogs:hover {
    transform: scale(1.2);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('images/seamless-pattern-with-paw-print-and-bones-on-brown-background-animal-print-vector-illustration_648830-158.avif')
}

.medicine:hover {
    transform: scale(1.2);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('images/medical-pills-and-capsules-pharmacy-background_77417-1449.avif');
}